<h2>Doctors Appointments</h2>
<h5><a href="#/login">Logout</a></h5>
<h5 ng-model="user.username"></h5>
<!-- <label>Search: <input ng-model="appointment.user"></label> -->

<table>
    <thead>
        <th>
            Date
        </th>
        <th>
            Time
        </th>
        <th>
            Patient Name
        </th>
        <th>
            Complaint
        </th>
    </thead>
    <tbody>
        <tr ng-repeat="appointment in appointments track by $index">
            <td>
                {{appointment.date | date:'medium'}}
            </td>
            <td>
                {{appointment.time | date:'shortTime'}}
            </td>
            <td>
                {{appointment.user}}
            </td>
            <td>
                {{appointment.complaint}}
            </td>

        </tr>
    </tbody>
</table>

<!-- <p ng-show="!my.success">
    {{response}}
</p> -->

<a href="#/new">Make a New Appointment</a>
