<h2>Doctors Appointments</h2>
<h5><a href="#/login">Logout</a></h5>
<h5>{{user.username}}</h5>

<table>
    <thead>
        <th>
            Date
        </th>
        <th>
            Time
        </th>
        <th>
            Patient Name
        </th>
        <th>
            Complaint
        </th>
    </thead>
    <tbody>
        <tr ng-repeat="appointment in appointments track by $index">
            <td>
                {{appointment.date | date:'medium'}}
            </td>
            <td>
                {{appointment.time | date:'shortTime'}}
            </td>
            <td>
                {{appointment._username.username}}
            </td>
            <td>
                {{appointment.complaint}}
            </td>
            <td ng-show="appointment._username.username == user.username">
                <button type="button" name="button" ng-click="onDelete(appointment._id)">Delete</button>
            </td>
        </tr>
    </tbody>
</table>

<!-- <p ng-show="!my.success">
    {{response}}
</p> -->

<a href="#/new">Make a New Appointment</a>
