<h2>Doctors Appointments</h2>
<h3 ng-show="success">{{success.data}}</h3>
<h4>{{user}}</h4>

<label>Search: <input ng-model="appointment.user"></label>

<table>
    <thead>
        <th>
            Date
        </th>
        <th>
            Time
        </th>
        <th>
            Patient Name
        </th>
        <th>
            Complaint
        </th>
    </thead>
    <tbody>
        <tr ng-repeat="appointment in appointments track by $index">
            <td>
                {{appointment.date}}
            </td>
            <td>
                {{appointment.time}}
            </td>
            <td>
                {{appointment.user}}
            </td>
            <td>
                {{appointment.complaint}}
            </td>

        </tr>
    </tbody>
</table>

<a href="#/new">Make a New Appointment</a>
